*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Newsreader";
}

a{
    text-decoration: none;
}

html,body{
    scroll-behavior: smooth;
}

:root {
    --bs-blue: #2937f0;
    --bs-indigo: #6610f2;
    --bs-purple: #9f1ae2;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #2937f0;
    --bs-secondary: #9c337d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #85252e;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 41, 55, 240;
    --bs-secondary-rgb: 140, 35, 150;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 500;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

button{
    all: unset;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    position: fixed;
    background-color: #fff;
    width: 100%;
    /* box-shadow: 0 1px 4px #cecece; */
}

nav img{
    width: 40px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    margin-left: 40px;
    gap: 25px;
}

nav a{
    color: var(--bs-gray-700);
}

nav a:hover{
    color: var(--bs-gray-600);
}

nav .headbtn{
    padding: 10px 16px;
    background-color: rgb(80,24,76);
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
    color: var(--bs-white);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

nav .headbtn:hover{
    background-color: var(--bs-blue);
}

#hero-page{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/recruiter.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--bs-body-bg);
    padding: 13rem 3rem;
    color: var(--bs-gray-100);
    height: 105vh;
}

#hero-page .hero-text{
    position: relative;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.hero-text h2{
    font-size: 51px;
    font-weight: 100;
}

.hero-text p{
    padding: 25px 0;
    font-size: 19px;
    line-height: 1.5;
}

.hero-btn1{
    padding: 20px 18px;
    border-radius: 45px;
    font-size: 16px;
    text-align: center;
    background-color: var(--bs-body-bg);
    color: #000000;
}

.hero-btn2{
    padding: 18px 20px;
    border: 1px solid var(--bs-gray-100);
    border-radius: 42px;
    margin-left: 5px;
}

.hero-btn2:hover{
    background-color: var(--bs-gray-100);
    color: #000;
}

#body-pg1{
    display: flex;
    justify-content: space-between;
    padding: 6rem 9rem;
    gap: 5rem;
    align-items: center;
    /* padding: 2rem 0 40px; */
    background-color: #F8F9FA;
}

#body-pg1 img{
    width: 46%;
}

#body-pg1 h2{
    font-size: 52px;
    padding: 60px 0 25px 0;
    color: var(--bs-gray-900);
    font-weight: 100;
}

#body-pg1 p{
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--bs-gray-600);
}

#body-pg2{
    padding: 7rem;
    background-color: #F8F9FA;
}

#body-pg2 h4{
    color: var(--bs-blue);
    font-weight: 100;
    background-color: #E9F3FF;
    font-family: "Mulish";
    display: inline-block;
    font-size: 15px;
}

.body-pg2icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    text-align: center;
    padding: 20px 10px;
}


.body-pg2icon div{
    background-color: #fff;
    padding: 40px 15px;
    
}

.body-pg2icon div p{
    padding-top: 30px;
}

.body-pg2icon div i{
    cursor: pointer;
    background-color: #E9F3FF;
    padding: 15px;
    font-size: 22px;
    border-radius: 25px;
    height: 100px;
    width: 100%;
}

#body-pg3{
    background-color: #F8F9FA;
    padding: 2rem 7rem;
}

.body-pg3a{
    text-align: center;
}

.body-pg3a h3{
    font-size: 40px;
}

.body-pg3a p{
    padding-top: 10px;
}

.body-pg3icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    /* padding: 20px 0; */
    text-align: center;
    margin-left: 40px;
}

.body-pg3icons a{
    color: var(--bs-blue);
}

.body-pg3icons i{
    color: var(--bs-indigo);
}

.body-pg3icons img{
    width: 33%;
    height: 50%;
    align-items: center;
}

.bi-search, .bi-patch-check, .bi-binoculars, .bi-buildings{
    font-size: 60px;
}

/* .body-pg3icons div{
    width: 95%;
} */

.body-pg3icons1 h3, .body-pg3icons2 h3, .body-pg3icons3 h3, .body-pg3icons4 h3{
    padding: 10px 0;
    font-size: 23px;
    font-weight: 800 !important;
    color: rgb(2, 67, 110);
}
/* 
.body-pg3icons1 p{
    width: 85%;
    margin-left: 20px;
} */

.body-pg3icons1 p, .body-pg3icons2 p, .body-pg3icons3 p, .body-pg3icons4 p{
    padding-bottom: 20px;
    color: var(--bs-gray-600);
    line-height: 1.5;
}

.body-pg3aicons, .body-pg3bicons{
    width: 35%;
}

.body-pg3bicons{
    padding-top: 50px;
}

#fees{
    background: linear-gradient(to top, #890835, rgb(100,19,68));
    padding: 80px 15px;
    /* margin-top: 10px; */
}

.fees1{
    text-align: center;
    color: var(--bs-gray-100);
    padding-bottom: 10px;
    font-size: 30px;
}
    
.fees2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.fees2a .p1{
    font-size: 15px;
    padding-bottom: 22px;
    margin-top: -25px;
}

.fees2a .p2{
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 2px;
    color: var(--bs-gray-900);
}

.fees2a .p3{
    font-size: 25px;
    font-weight: 700;
    color: var(--bs-gray-900);
    padding-bottom: 10px;
}

.fees2a .p4{
    font-size: 15px;
    padding: 0 25px !important;
    color: var(--bs-gray-900);
    line-height: 1.5;
}

.fees2b .p1{
    font-size: 15px;
    padding-bottom: 22px;
    margin-top: -25px;
}

.fees2b .p2{
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 2px;
    color: var(--bs-gray-900);
}

.fees2b .p3{
    font-size: 25px;
    font-weight: 700;
    color: var(--bs-gray-900);
    padding-bottom: 10px;
}

.fees2b .p4{
    font-size: 15px;
    padding: 0 25px !important;
    color: var(--bs-gray-900);
    line-height: 1.5;
}

.fees2c .p1{
    font-size: 15px;
    padding-bottom: 22px;
    margin-top: -25px;
}

.fees2c .p2{
    font-size: 28px;
    font-weight: 600;
    /* padding-bottom: 2px; */
    color: var(--bs-gray-900);
}

.fees2c .p3{
    font-size: 15px;
    padding: 10px 0!important;
    color: var(--bs-gray-900);
    line-height: 1.4;
}

.fees2c a{
    font-size: 15px;
    color: var(--bs-primary);
}

.fees2a, .fees2b, .fees2c{
    background-color: var(--bs-gray-100);
    width: 70%;
    padding: 30px;
    border-radius: 5px;
}

.fees2a, .fees2b{
    padding: 33px !important;
}

.fees2a .p2, .fees2b .p2{
    text-decoration: line-through;
}

.fees-btn{
    text-align: center;
    padding-top: 30px;
}

.fees-btn button{
    padding: 17px 23px;
    border-radius: 30px;
    color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-100);
}

.fees-btn button:hover{
    background-color: var(--bs-gray-100);
    color: var(--bs-body-color);
}

/* #services{
    margin-bottom: 30px;
} */

.services1{
    text-align: center;
    padding: 55px 0 10px;
    background-color: #F8F9FA;
}

.services1 h3{
    font-size: 34px;
    line-height: 2.3;
}

.services1 p{
    font-size: 18px;
    color: var(--bs-gray-600);
    font-weight: 100;
}

.services2{
    display: flex;
    justify-content: space-between;
}

.services2a{
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
    padding: 55px;
    width: 50%;
}

.services2a h3{
    font-size: 34px;
}

.services2a p{
    font-size: 19px;
    font-weight: 100;
    line-height: 1.5;
    /* letter-spacing: 1px; */
    padding: 28px 0;
}

.services2a button{
    border: 1px solid var(--bs-gray-100);
    padding: 15px 20px;
    border-radius: 30px;
}

.services2a button:hover{
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.services2b{
    background-color: var(--bs-secondary);
    color: var(--bs-body-bg);
    padding: 55px;
    width: 50%;
}

.services2b h3{
    font-size: 33px;
}

.services2b p{
    font-size: 19px;
    font-weight: 100;
    line-height: 1.5;
    /* letter-spacing: 1px; */
    padding: 30px 0;
}

.services2b button{
    border: 1px solid var(--bs-gray-100);
    padding: 16px 22px;
    font-size: 14px;
    border-radius: 30px;
}

.services2b button:hover{
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

#footer{
    background-color: #000;
    margin-top: 70px;
}

#footer p{
    color: var(--bs-gray-600);
    padding: 2rem 0 0 7rem;
    align-items: center;
    font-size: 14px;
}

.footer-icns{
    text-align: center;
    padding: 25px 0 60px 0;
}

.footer-icns a{
    color: var(--bs-body-bg);
    font-size: 15px;
    text-align: center;
}

.ri-twitter-fill, .ri-instagram-line, .ri-linkedin-box-fill{
    background-color: #000;
    color: var(--bs-gray-100);
    padding: 13px;
    border: 1px solid var(--bs-gray-600);
    border-radius: 39px;
    /* margin-top: 2px; */
}

.ri-twitter-fill:hover, .ri-instagram-line:hover, .ri-linkedin-box-fill:hover{
    background-color: var(--bs-secondary);
}


